<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:flex="http://www.springframework.org/schema/flex"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-http="http://www.springframework.org/schema/integration/http"
	xmlns:int-jms="http://www.springframework.org/schema/integration/jms"
	xmlns:int-mail="http://www.springframework.org/schema/integration/mail"
    xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:jmx="http://www.springframework.org/schema/integration/jmx"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:p="http://www.springframework.org/schema/p"
    xmlns:security="http://www.springframework.org/schema/security"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:ws="http://www.springframework.org/schema/integration/ws"

    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/jee
		http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.0.xsd
		http://www.springframework.org/schema/tx/
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/integration
		http://www.springframework.org/schema/integration/spring-integration-2.1.xsd
		http://www.springframework.org/schema/integration/http
        http://www.springframework.org/schema/integration/http/spring-integration-http-2.1.xsd
		http://www.springframework.org/schema/integration/jmx
        http://www.springframework.org/schema/integration/jmx/spring-integration-jmx-2.1.xsd">


	<import resource="windup-example-jndi-context.xml"/>
    <import resource="windup-example-beans-context.xml"/>
	
    <mvc:annotation-driven />

	<mvc:resources location="classpath:/META-INF/dojo/" mapping="/resources/dojo/**"/>

	<mvc:interceptors>
		<bean class="org.springframework.web.servlet.mvc.WebContentInterceptor">
		    <property name="cacheMappings">
		        <map>
		        	<entry key="/**" value="0" />
		        </map>
		    </property>
		</bean>
		<bean class="org.jboss.windup.ExampleInterceptor" />
	</mvc:interceptors>

	<mvc:view-controller path="/" view-name="/Application.html"/>
	<mvc:view-controller path="/uncaughtException"/>

    <context:component-scan base-package="org.jboss.windup.controller" />
	<context:annotation-config base-package="org.jboss.windup.score" />

   <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.DB2Dialect</prop>
                <prop key="hbm2ddl.auto">validate</prop>
                <prop key="show_sql">true</prop>
                <prop key="format_sql">true</prop>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                <prop key="hibernate.jdbc.batch_size">10</prop>
            </props>
        </property>
        <property name="exampleProperty">
            <map>
                <entry key="exkey1" value-ref="exvalue1"/>
                <entry key="exkey2" value-ref="exvalue2"/>
            </map>
        </property>
        <property name="mappingResources">
            <list>
                <value>META-INF/hibernate/org/jboss/windup/hibernate/Resource.hbm.xml</value>
                <value>META-INF/hibernate/org/jboss/windup/hibernate/Resource2.hbm.xml</value>
            </list>
        </property>
    </bean>

	<bean id="blClasses" class="java.util.ArrayList">
		<constructor-arg>
			<set>
				<value>example</value>
				<value>example2</value>
			</set>
		</constructor-arg>
	</bean>
	
	<bean id="exampleBean" class="org.jboss.windup.example.spring.ExampleBean">
        <property name="exampleManager" ref="exampleManager" />
        <property name="exampleManager2">
		    <ref bean="exampleManager2" />
		</property>
        <property name="windupProperty"> 
		    <value>/tx/windup_property_value</value>
		</property>
    </bean>

    <bean id="exampleBean2" class="org.jboss.windup.example.spring.ExampleBean2">
		<constructor-arg value="/index.jsp" />
        <constructor-arg ref="beanHandler" />
        <constructor-arg>
            <list>
                <bean
                    class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" />
            </list>
        </constructor-arg>
        <property name="chain">
            <list>
                <bean class="org.jboss.windup.processors.ExampleProcessor" parent="exampleProcessor">
                    <property name="exThreshold" value="25" />
                </bean>
            </list>
        </property>
    </bean>
	
    <security:http entry-point-ref="securityEntryPointReference"
        use-expressions="true">
        <security:custom-filter ref="securityCustomFilterReference"
            position="FILTER" />
        <security:intercept-url pattern="/tx/auth/**"
            access="isAuthenticated()" />
        <security:access-denied-handler
            error-page="/error-page.jsp" />
    </security:http>
	
	<security:http access-denied-page="/403.html" entry-point-ref="smEntryPoint">
        <security:intercept-url pattern="/**" access="R_READ, R_ADMIN" />
        <security:intercept-url pattern="/example/**" access="R_ADMIN" />
        <security:logout logout-url="/logout" invalidate-session="true" logout-success-url="${logoutURL}"/>
        <security:custom-filter position="FILTER" ref="FilterRef" />
    </security:http>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider
            ref="securityAuthenticationProvider" />
    </security:authentication-manager>

	<int:channel id="channelId"/>

	<int:channel id="channelId2">
		<int:interceptors>
			<int:wire-tap channel="interceptorChannel"/> 			
		</int:interceptors>	
	</int:channel>
	
	<int:chain input-channel="chainChannel">

		<int:header-enricher>
			<int:header name="HEADER" expression="expression"/>
		</int:header-enricher>

		<int:transformer ref="transformerReference"/>

		<int:service-activator method="serviceActivator">
			<bean class="org.jboss.windup.handlers.Handler">
				<property name="exPropertyName" ref="exPropertyReference"/>
			</bean>
		</int:service-activator>

		<int:header-value-router header-name="HEADER_NAME" resolution-required="false">
	  		<int:mapping value="MAPPING_VALUE" channel="mappingValueChannel" />
            <int:mapping value="MAPPING_VALUE2" channel="mappingValueChannel2" />
		</int:header-value-router>

	</int:chain>

	<int:service-activator input-channel="serviceActivatorInputChannel" method="serviceActivatorMethod">
		<bean class="org.jboss.windup.handlers.Handler">
			<property name="propertyName" ref="propertyReference"/>
            <property name="propertyName2" ref="propertyReference2"/>
		</bean>	
	</int:service-activator>
	
	<int-jms:message-driven-channel-adapter channel="MDChannelAdapter" 
		container="MDChannelContainer" error-channel="MDChannelError"/>	

	<int:channel id="channelId3"/>

  	<int:chain id="chainId" input-channel="chainInputChannel">
	  	<int:object-to-json-transformer object-mapper="objectMapper"/>
		<int:recipient-list-router>
			<int:recipient channel="recipientChannel"/>
			<int:recipient channel="recipientChannel2"/>  
		</int:recipient-list-router>
	</int:chain> 
	
	<int:aggregator input-channel="aggregatorInputChannel" output-channel="aggregatorOutputChannel" 
		correlation-strategy="aggregatorCorrelationStrategy" release-strategy="aggregatorReleaseStrategy"
		send-partial-result-on-expiry="true" expire-groups-upon-completion="true"/>
		
	<jmx:mbean-export default-domain="org.jboss.windup.example"/>
	
	<context:mbean-export default-domain="org.jboss.windup.example.beans"/>
	
	<bean id="txManager" class="org.springframework.transaction.jta.JtaTransactionManager">
		<property name="transactionManagerName" value="java:/TransactionManager"/>
	</bean>

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="txMethodName" propagation="REQUIRED" read-only="false" />
			<tx:method name="txMethodName2" propagation="SUPPORTS" read-only="false" />
		</tx:attributes>
	</tx:advice>

  <aop:config>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="pointcutRef" order="3"/>
    <aop:aspect id="aspectId" ref="aspectReference" order="1">
    	<aop:around method="execute" pointcut-ref="aroundPointcutReference"/>
  </aop:config>

</beans>
